/**************
*   General   *
**************/

* {
  box-sizing: border-box;
}

body {
  width: 96%;
  margin: 20px 2%;
  background-color: white;
  font-family: sans-serif;
  /* --size_adjustment: 1.5; */
}

.flexbox_container{ display: flex; justify-content: space-between; flex-flow: column wrap; }

/**************
*   Heading   *
**************/

header {
  display: flex;
  flex-flow: row nowrap;
}
header p { text-align: right; width: 75%; }

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 150%;
  padding-bottom: 5px;
  width: 25%;
}

a {
  color: black;
  text-decoration: none;
}

/*****************
*   Navigation   *
*****************/

nav.local{ position: relative; }
nav.local li{ width: calc(100%/4); }
nav.local a{ color: black; display: block; padding: 3%; }

ul.flexbox_container{ flex-flow: row nowrap; list-style-type: none; }
li.pseudo_element{ outline: 1px solid; background-color: rgb(160,160,160); }
#pseudo_list li{ min-width: 80px; }
#pseudo_list{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
#real_list, #real_list li{
  text-align: center;
  align-items: center;
  z-index: 1;
}